/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.Advertisement {
    /* Banner */
    box-sizing: border-box;
    margin: 50px 0px 100px;
    min-width: 100%;
    height: 376px;
    background: #142B02;
    border-radius: 24px;
    position: relative; /* Важно для позиционирования абсолютных элементов внутри */

    display: flex;
    justify-content: center;
    align-items: center;
}

.Advertisement .content {
    text-align: center; /* Центрирование текста по горизонтали */
}

.Advertisement h2 {
    /* Место для вашей рекламы */
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.02em;
    color: #DFF9CA;
}

.Advertisement .teg {
    /* Teg */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    position: absolute;
    right: 16px;
    bottom: 16px; /* Помещаем внизу справа */
    background: #FFFFFF;
    border-radius: 12px;
}

.Advertisement .teg h8 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #142B02;
}

@media (max-width: 1024px) {
    .Advertisement {
        margin: 30px 0px 20px;
        height: 200px;
        border-radius: 16px;
    }
    .Advertisement h2 {
        font-size: 20px;
    }
    .Advertisement .teg h8 {
        font-size: 6px;
        line-height: 10px;
    }
    .Advertisement .teg {
        padding: 3px 6px;
        right: 10px;
        bottom: 10px; /* Помещаем внизу справа */
    }
}
@media (max-width: 760px) {
    .Advertisement {
        height: 150px;
    }
    .Advertisement h2 {
        font-size: 16px;
    }
}

.AdvertisementBetwens {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.AdvertisementBetwens .Advertisement {
    min-width: 49%;
    max-width: 49%;
    height: 188px; /* Замените 376px на 188px для высоты в два раза меньше */
    /* Другие стили остаются без изменений */
    box-sizing: border-box;
    margin: 25px 0px 50px; /* Скорректируйте отступы, если необходимо */
    border-radius: 24px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.AdvertisementBetwens .Advertisement h2 {
    font-size: 34px;
    line-height: 40px;
}

.AdvertisementBetwens {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* Убедитесь, что здесь нет других ограничений по ширине */
}

.AdvertisementBetwens .Advertisement {
    min-width: 49%; /* Изменено на 100% */
    max-width: 49%; /* Убедитесь, что максимальная ширина тоже 100% */
    height: 188px; /* Высота в два раза меньше оригинала */
    box-sizing: border-box;
    margin: 15px 0px 10px; /* Скорректируйте отступы, если необходимо */
    border-radius: 24px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .Advertisement {
        height: 150px;
    }
    .Advertisement h2 {
        font-size: 16px;
    }
    .AdvertisementBetwens {
        flex-direction: column;
    }
    .AdvertisementBetwens .Advertisement {
        min-width: 100%; /* Убедитесь, что ширина 100% для меньших экранов */
        max-width: 100%;
    }
}
